In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [4]:
df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns = boston_dataset.feature_names

In [5]:
df_boston['Price'] = boston_dataset.target

In [7]:
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
x_features = boston_dataset.data

In [11]:
y_target = boston_dataset.target

In [12]:
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()

In [13]:
lineReg.fit(x_features,y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
print 'the esctimated intercept %.2f' %lineReg.intercept_

the esctimated intercept 36.46

In [15]:
print 'the coefficient %d' %len(lineReg.coef_)

the coefficient 13

In [20]:
from sklearn import cross_validation

ImportError: cannot import name cross_validation